@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background-color: #2E064D;
    overflow-x: hidden;
    margin: 0;
    font-size: 18px;
    font-family: "Comfortaa", sans-serif;
}